<section class="container-fluid bg-light p-5">
    <h3>Product</h3>
    <div class="card" *ngIf="product==null">
        <p class="card-text">No Product Found</p>
    </div>

    <table class="table w-50 table-bordered" *ngIf="product!=null">
        <tbody>
            <tr>
                <th>Product#</th>
                <td>{{product.productId}}</td>
            </tr>
            <tr>
                <th>Product Name</th>
                <td>{{product.productName}}</td>
            </tr>
            <tr>
                <th>productDescription</th>
                <td>{{product.productDescription}}</td>
            </tr>
           
            <tr>
                <th>Price</th>
                <td>{{product.price}}</td>
            </tr>
            <tr>
                <th colspan="2" class="pull-right">
                    <a class="btn btn-success btn-sm mr-2"
                    [routerLink]="'/edit/'+product.productId">EDIT</a>
                </th>
            </tr>
        </tbody>
    </table>
</section>